{% extends "BookingBundle::layoutMatto.html.twig" %}
{% block title %} Notifications {% endblock %}

{% block scripthead %}
 <script src="{{ asset('Resources/js/bootstrap-tooltip.js') }}"></script>
{% endblock %}
 
{% block sidebar %}{% endblock %} 

{% block contenido %}
{% import "BookingBundle:Default:tools.html.twig" as print %}
 
<div class="span12 ">
<h3>{{block('title')}}</h3> 
{#
<p><a href="#save" class="btn btn-primary"  data-toggle="modal">
<i class="icon-plus icon-white"></i> Add new</a></p>
#}
    <table class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>No</th>
                <th>Resource</th>
                <th>Quantity</th>
                <th>Booking</th>  
                <th>Event</th>
                <th>Performer</th>
                <th>Activity type</th>
                <th>Ip Address</th>
             {#   <th>Updated date</th> #}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>
                <td>{{ entity.id }}</td> 
                <td>{{ entity.resourceId }}</td>
                <td>{{ entity.quantity }}</td>
                <td>{{ entity.bookingId }}</td>
                <td>{{ entity.eventId }}</td>
                <td>{{ entity.performer }}</td>
                <td>{{ entity.activityType }}</td>
                <td>{{ entity.ip }}</td>
             {#   <td>{% if entity.updatedDate %}{{ entity.updatedDate|date('Y-m-d H:i:s') }}{% endif %}</td>   #}
                <td>
                    {{print.action('booking_mtto_bknotification_show','booking_mtto_bknotification_edit',entity.id)}}
             {#   <ul>
                    <li>
                        <a href="{{ path('bknotification_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('bknotification_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>  #}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

      {#  <ul>
        <li>
            <a href="{{ path('bknotification_new') }}">
                Create a new entry
            </a>
        </li>
    </ul> #}
    
</div>
<div class="pagination pagination-small pagination-right">
{{ knp_pagination_render(pagination) }}
</div>
{{ print.modalaction('Notification','save')}}
{{ print.modalaction('Notification','edit')}}
{{ print.modalaction('Notification','show')}}
{% endblock %}
{% block javascripts %}
<script>
$(document).ready(function(){
  {# $('#save').on('show', function () {
         $('.modal-body-save').load('{{ path('booking_mtto_bknotification_new') }}'); 
  // do something…
   }); #}
   $('#edit').on('show', function () {
        
  // do something…
    });
   $('#show').on('show', function () {
         
  // do something…
    });
});
</script>
{% endblock %}