{% extends "ABCIsystemBundle::layoutAdmin.html.twig" %}
{% block title %} City Show {% endblock %}
{% block scripthead %}
 <script src="{{ asset('Resources/js/bootstrap-dropdown.js') }}"></script>
{% endblock %}


{% block bodycontenido %}
{#
<h3>{{block('title')}}</h3>
#}

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
             <tr>
                <th>Department</th>
                <td>{{ entity.department.name |capitalize }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ entity.name |capitalize}}</td>
            </tr>
            
            <tr>
                <th>Createddate</th>
                <td>{{ entity.createdDate|date('H:i:s d-m-Y ') }}</td>
            </tr>
        </tbody>
    </table>
 <p>
    <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="icon-list"></i> Back to the list</button>
    </p>
    {#  
    <ul class="record_actions">
    <li>
        <a href="{{ path('isystem_admin_mtto_city') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('isystem_admin_mtto_city_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('isystem_admin_mtto_city_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
    </ul>
    #}
{% endblock %}
