{% macro action(pathshow,pathedit,id) %}
<div class="btn-group">
<button class="btn dropdown-toggle" data-toggle="dropdown" href="#">Action 
<span class="caret"></span>
</button>
<ul class="dropdown-menu">
<li>
{#<a href="{{ path(pathshow, { 'id': id }) }}">#}
<a href="#show" data-toggle="modal" onclick=" $(this).removeData('modal'); $('.modal-body-show').load('{{ path(pathshow,{ 'id': id }) }}');"> 
<i class="icon-eye-open"></i> Show</a>
</li>
<li>
{#<a href="{{  path(pathedit, { 'id': id }) }}"> #}
<a href="#edit" data-toggle="modal" onclick=" $(this).removeData('modal'); $('.modal-body-edit').load('{{ path(pathedit,{ 'id': id }) }}');"> 
<i class="icon-edit"></i> Edit</a></li>
</ul>
</div>  
{% endmacro %}



{% macro modalaction(title, optionmodal) %}
<div id="{{optionmodal}}" class="modal hide fade in"  style="display: none;">  
  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel"> {{title}} {{optionmodal}}</h3>
  </div>
  <div class="modal-body-{{optionmodal}}"></div>
  {#
  <div class="modal-footer"> 
  <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="icon-list"></i> Back to the list</button>
  <button class="btn btn-primary">{{optionmodal|capitalize}}</button>
  </div>
  #}
</div>
{% endmacro %}

