{% extends "ABCIsystemBundle::layoutAdmin.html.twig" %}
{% block title %} Student Edit {% endblock %}

{% block css%}
<link href="{{ asset('Resources/datepicker/css/datepicker.css') }}" rel="stylesheet" media="all">
<link href="{{ asset('Resources/css/jquery.Jcrop.css') }}" rel="stylesheet" media="all">
<link href="{{ asset('Resources/css/custom.css') }}" rel="stylesheet" media="all">
{% endblock %}
{% block js %}
<script src="{{ asset('Resources/js/bootstrap-dropdown.js') }}"></script>
<script src="{{ asset('Resources/datepicker/js/bootstrap-datepicker.js') }}" charset="UTF-8"></script>
<script src="{{ asset('Resources/js/photo/pekeUpload.js') }}"></script>
<script src="{{ asset('Resources/js/photo/jquery.Jcrop.js') }}"></script>
<script src="{{ asset('Resources/js/photo/jquery.color.js') }}"></script>
<script src="{{ asset('Resources/js/photo/fn_photos.js') }}"></script>
{% endblock %}



{% block contenido %}                            
{% import "ABCIsystemBundle:AbcMembers:memberWidgetBlocks.html.twig" as frmMember %}
{% import "ABCIsystemBundle:AbcMembers:tool.html.twig" as tool %}
<h3>{{block('title')}}</h3>
{{ errors }}

<form action="{{ path('isystem_admin_student__update', { 'id': member.id }) }}" method="post" {{ form_enctype(form) }}>
<input type="hidden" name="_method" value="PUT" />
<input type="hidden" id="user_id" name="user_id" value="{{member.idCard}}"/>
{{ form_start(form) }} 
   <div class="form-actions">
     <p>
       <a href="{{ path('isystem_admin_members') }}" class="btn">Back to the list</a>
       <button type="submit" class="btn btn-primary" > Update </button>
     </p>
   </div> <!-- buttones -->
  
   <div class="tabbable"> <!-- Only required for left/right tabs -->
     <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Basic Details</a></li>
        <li><a href="#tab2" data-toggle="tab">Resistration</a></li>
        <li><a href="#tab2" data-toggle="tab">Parents</a></li>
     </ul>
     <div class="tab-content">
        <div class="tab-pane active" id="tab1">
        {{frmMember.basic(form, member.idCard,memberGroup)}}       
        </div>
        <div class="tab-pane" id="tab2">       
        </div>     
        <div class="tab-pane" id="tab3">
        </div>
     </div>
   </div>
   {{ form_rest(form) }}
   {{ form_end(form) }}
   {{frmMember.photoModal()}}
   {{tool.modal()}}

</form>
{#
<ul class="record_actions">
    <li>
        <form action="{{ path('isystem_admin_members__delete', { 'id': member.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul> 
#}

{% endblock %}
{% block javascripts %}
<script>
$(document).ready(function(){    
    $('#abc_isystembundle_abcmembersstudenttype_birthdate').datepicker({
        format: 'dd-mm-yyyy',
        todayBtn: 'linked',
        viewMode: 'years'
    }); 
    uploadPhoto(
            "#file",
            '{{member.idCard}}',
            '{{memberType}}',
            '{{memberGroup}}',
            '{{path('isystem_upload',{'idcard':member.idCard ,'folder': memberType,'subfolder':memberGroup})}}',
            '{{path('isystem_crop')}}'
     );    

     });
</script>
{% endblock %}   
