{% extends "ABCIsystemBundle::layoutAdmin.html.twig" %}
{% block title %} New Member {% endblock %}
{% block scripthead %}
 <script src="{{ asset('Resources/js/bootstrap-dropdown.js') }}"></script>
{% endblock %}
{% block bodycontenido -%}
    <h3{{ block('title')}}</h3>

    <form action="{{ path('isystem_admin_members__create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }} 
        <p>
            <button type="submit">Create</button>
        </p>
    </form>
    
<ul class="tags" data-prototype="{{ form_widget(form.groups.vars.prototype)|e }}">
{% for group in form.groups %}
            <li>{{ form_row(group.primaryGroup) }}</li>
            <li>{{ form_row(group.group) }}</li>
        {% endfor %}
</ul>
<ul class="record_actions">
    <li><a href="{{ path('isystem_admin_members_') }}">Back to the list</a></li>
    <li><a href="#"> add group</a></li>
</ul>
{% endblock %}
{% block javascripts %}
<script>
// Obtiene la ul que contiene la colección de etiquetas
var collectionHolder = $('ul.tags');

// configura una enlace "Agregar una etiqueta"
var $addTagLink = $('<a href="#" class="add_tag_link">Add a tag</a>');
var $newLinkLi = $('<li></li>').append($addTagLink);

jQuery(document).ready(function() {
    // Añade el ancla "Agregar una etiqueta" y las etiquetas li y ul
    collectionHolder.append($newLinkLi);

    // cuenta las entradas actuales en el formulario (p. ej. 2),
    // la usa como índice al insertar un nuevo elemento (p. ej. 2)
    collectionHolder.data('index', collectionHolder.find(':input').length);

    $addTagLink.on('click', function(e) {
        // evita crear el enlace con una "#" en la URL
        e.preventDefault();

        // añade una nueva etiqueta form (ve el siguiente bloque de código)
        addTagForm(collectionHolder, $newLinkLi);
    });
    
    
    collectionHolder.find('li').each(function() {
        addTagFormDeleteLink($(this));
    });
});

function addTagForm(collectionHolder, $newLinkLi) {
    // Obtiene los datos del prototipo explicado anteriormente
    var prototype = collectionHolder.data('prototype');

    // Consigue el nuevo índice
    var index = collectionHolder.data('index');

    // Sustituye el '__name__' en el prototipo HTML para que
    // en su lugar sea un número basado en cuántos elementos hay
    var newForm = prototype.replace(/__name__/g, index);

    // Incrementa en uno el índice para el siguiente elemento
    collectionHolder.data('index', index + 1);

    // Muestra el formulario en la página en un elemento li,
    // antes del enlace 'Agregar una etiqueta'
    var $newFormLi = $('<li></li>').append(newForm);
    $newLinkLi.before($newFormLi);
    
    
    addTagFormDeleteLink($newFormLi);
}


function addTagFormDeleteLink($tagFormLi) {
    var $removeFormA = $('<a href="#">delete this tag</a>');
    $tagFormLi.append($removeFormA);

    $removeFormA.on('click', function(e) {
        // evita crear el enlace con una "#" en la URL
        e.preventDefault();

        // quita el li de la etiqueta del formulario
        $tagFormLi.remove();
    });
}
 </script>
{% endblock %}  