{% extends '::base.html.twig' %}

{% block body -%}
    <h1>AbcMembers</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Idcard</th>
                <td>{{ entity.idCard }}</td>
            </tr>
            <tr>
                <th>Admoncode</th>
                <td>{{ entity.admonCode }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ entity.lastname }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ entity.firstname }}</td>
            </tr>
            <tr>
                <th>Middlename</th>
                <td>{{ entity.middlename }}</td>
            </tr>
            <tr>
                <th>Birthdate</th>
                <td>{{ entity.birthdate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ entity.gender }}</td>
            </tr>
            <tr>
                <th>Placeofbirthdate</th>
                <td>{{ entity.placeOfBirthdate }}</td>
            </tr>
            <tr>
                <th>Nickname</th>
                <td>{{ entity.nickname }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ entity.login }}</td>
            </tr>
            <tr>
                <th>Sitewidelogin</th>
                <td>{{ entity.sitewideLogin }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Createddate</th>
                <td>{{ entity.createdDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ entity.password }}</td>
            </tr>
            <tr>
                <th>Salt</th>
                <td>{{ entity.salt }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('isystem_admin_members') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('isystem_admin_members_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('isystem_admin_members_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
