{% extends "BookingBundle::layoutMatto.html.twig" %}
{% block title %} Sections List{% endblock %}

{% block scripthead %}
 <script src="{{ asset('Resources/js/bootstrap-tooltip.js') }}"></script>
{% endblock %}
 
{% block sidebar %}{% endblock %} 

{% block contenido %}
{% import "BookingBundle:Default:tools.html.twig" as print %}
 
<div class="span12 ">
<h3>{{block('title')}}</h3> 

<p><a href="#save" class="btn btn-primary"  data-toggle="modal">
<i class="icon-plus icon-white"></i> Add new</a></p>

    <table class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
             {#   <th>Description</th>
                <th>Created date</th>     #}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.name }}</td>
             {#   <td>{{ entity.description }}</td>
                <td>{% if entity.createdDate %}{{ entity.createdDate|date('Y-m-d H:i:s') }}{% endif %}</td>   #}
                <td>{{print.action('booking_mtto_bksection_show','booking_mtto_bksection_edit',entity.id)}}</td>
               {# <td>
                <ul>
                    <li>
                        <a href="{{ path('bksection_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('bksection_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td> #}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {#
        <ul>
        <li>
            <a href="{{ path('booking_mtto_bksection_new') }}">
                Create a new entry
            </a>
        </li>
    </ul> #}
    </div>
<div class="pagination pagination-small pagination-right">
{{ knp_pagination_render(pagination) }}
</div>
{{ print.modalaction('Section','save')}}
{{ print.modalaction('Section','edit')}}
{{ print.modalaction('Section','show')}}
{% endblock %}
{% block javascripts %}
<script>
$(document).ready(function(){
   $('#save').on('show', function () {
         $('.modal-body-save').load('{{ path('booking_mtto_bksection_new') }}'); 
  // do something…
   });
   $('#edit').on('show', function () {
        
  // do something…
    });
   $('#show').on('show', function () {
         
  // do something…
    });

});
</script>
    {% endblock %}
