{% extends "BundleBundle::layoutMatto.html.twig" %}
{% block title %} New Section {% endblock %}
{% block scripthead %}
 <script src="{{ asset('Resources/js/bootstrap-dropdown.js') }}"></script>
{% endblock %}
{% block bodycontenido -%}
    

    <form action="{{ path('booking_mtto_bkbookingheader_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="icon-list"></i> Back to the list</button>                
            <button type="submit"class="btn btn-primary"><i class=""></i> Save</button>
            {#<button type="submit">Create</button>#}
        </p>
    </form>
{#
        <ul class="record_actions">
    <li>
        <a href="{{ path('bkbookingheader') }}">
            Back to the list
        </a>
    </li>
</ul>   #}
{% endblock %}
