<div class="navbar navbar-inverse navbar-fixed-top">
	<div class=" navbar-inner">
		<div class="container">
        <ul class="nav">
          <li class="active"><a href="{{ path('admin_applicant',{'page':1})}}">Admissions</a></li>
          <li class="dropdown">
		  <a id="drop1" class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">List of Applicants
		  <b class="caret"></b></a>
			<ul class="dropdown-menu pull-right" aria-labelledby="drop1" role="menu">
			<li><a href="{{path('admin_applicant_by',{'page':1,'op':'requested'})}}" tabindex="-1">Requested</a></li>
			<li><a href="{{path('admin_applicant_by',{'page':1,'op':'exam'})}}" tabindex="-1">Exam</a></li>
			<li class="divider"></li>
			<li><a href="{{path('admin_applicant_by',{'page':1,'op':'accepted'})}}" tabindex="-1">Accepted</a></li>
			<li><a href="{{path('admin_applicant_by',{'page':1,'op':'not_accepted'})}}" tabindex="-1">Not Accepted</a></li>	
			</ul>
		  </li>
                  {#
		  <li class="dropdown">
		  <a id="drop1" class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">Test 
		  <b class="caret"></b></a>
			<ul class="dropdown-menu pull-right" aria-labelledby="drop1" role="menu">
			<li><a href="{{path('resultuseadmin_new')}}" tabindex="-1">Add Result</a></li>
			<li><a href="{{path('admin_applicant_by',{'page':1,'op':'exam'})}}" tabindex="-1">View Result</a></li>
			</ul>
		  </li>
		  #}
		  <li class="dropdown">
			<a id="drop1" class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">Admin 
			  <b class="caret"></b></a>	
			  <ul class="dropdown-menu pull-right" aria-labelledby="drop1" role="menu">
			  <li><a href="{{path('admin_users',{'page':1})}}" tabindex="-1">User</a></li>
			  <li><a href="{{path('admin_roles',{'page':1})}}" tabindex="-1">Role</a></li>
			  </ul>
		  </li>
        </ul>
        <ul class="nav pull-right">
        <li class="dropdown">
		{% if app.user %}
                <a id="drop1" class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">
                {{ app.user.username  }}
		<b class="caret"></b>
  		</a>
  		<ul class="dropdown-menu pull-right" aria-labelledby="drop1" role="menu">
                <li><a href="" tabindex="-1">My Account</a></li>
                <li><a href="" tabindex="-1">Change Password</a></li>
                <li class="divider"></li>
                <li><a href="{{path('_logout') }}" tabindex="-1">Log-out</a></li>	
  		</ul>
				
                {% else %}
                <a id="drop1" class="dropdown-toggle" data-toggle="dropdown" role="button" href="{{path('_login') }}">
                Login<b class="caret"></b>
  		</a>
		{% endif %}
  		</li>
        </ul>
	</div>
	</div>
</div>
