{% extends "ABCIsystemBundle::layoutAdmin.html.twig" %}
{% block title %} Photo {% endblock %}

{% block scripthead %}

<link href="{{ asset('Resources/css/custom.css') }}" rel="stylesheet" media="all">
 <script src="{{ asset('Resources/js/bootstrap-tooltip.js') }}"></script>
 <script src="{{ asset('Resources/js/pekeUpload.js') }}"></script>
{% endblock %}
 
{% block sidebar %}{% endblock %} 

{% block contenido %}
       <h3>{{block('title')}}</h3>  
<div id='photo'></div> 
    <form action="{{ path('isystem_admin_photo_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('isystem_admin_photo') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
{% block javascripts %}
<script>
    $(document).ready(function(){
    ///$('#abc_isystembundle_abcmemberstype_birthdate').datepicker({ format: 'd-m-YYYY'});  
    $("#abc_isystembundle_abcphototype_img").pekeUpload({
        theme:'bootstrap', 
        allowedExtensions:"jpeg|jpg|png|gif", 
        url:  '/abcis/web/upload.php',
        onFileSuccess: function(file,data){ $('#photo').html('<img src="/abcis/web/upload/'+file.name+'">');},
        onFileError:function(file,error){alert("error on file: "+file.name+" error: "+error+"")}
    });
        
     });

</script>
{% endblock %}   

