{% extends "ABCIsystemBundle::layoutAdmin.html.twig" %}

{% block title %} Saludation List {% endblock %}

{% block scripthead %}
 <script src="{{ asset('Resources/js/bootstrap-tooltip.js') }}"></script>
{% endblock %}

{% block sidebar %}{% endblock %} 

{% block contenido %}

{% import "ABCIsystemBundle:Default:tools.html.twig" as print %}

<div class="span12 ">

<h3>{{block('title')}}</h3>  

<a href="#save" class="btn btn-primary"  data-toggle="modal">
<i class="icon-plus icon-white"></i> Add new</a>
</p>
    <table class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>No</th>
                <th>Abbreviation EN</th>
                <th>Abbreviation ES</th>
                <th>Saludation EN</th>
                <th>Saludation ES</th>
                <!--<th>Createddate</th>-->
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>
                <td><!--<a href="{{ path('isystem_admin_mtto_saludation_show', { 'id': entity.id }) }}">-->{{ entity.id }}<!--</a>--></td>
                <td>{{ entity.abbreviationEn }}</td>
                <td>{{ entity.abbreviationEs }}</td>
                <td>{{ entity.saludationEn }}</td>
                <td>{{ entity.saludationEs }}</td>
                <!--<td>-->{#{% if entity.createdDate %}{{ entity.createdDate|date('Y-m-d H:i:s') }}{% endif %}#}<!--</td> -->
                <td>
                {{ print.action('isystem_admin_mtto_saludation_show','isystem_admin_mtto_saludation_edit', entity.id)}}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


 <div class="pagination pagination-small pagination-right">
{{ knp_pagination_render(pagination) }}
</div>

{{ print.modalaction('Saludation','save')}}
{{ print.modalaction('Saludation','edit')}}
{{ print.modalaction('Saludation','show')}}


{% endblock %}

{% block javascripts %}
<script>
$(document).ready(function(){
   $('#save').on('show', function () {
         $('.modal-body-save').load('{{ path('isystem_admin_mtto_saludation_new') }}');
  // do something…
   });
   $('#edit').on('show', function () {
        
  // do something…
    });
   $('#show').on('show', function () {
         
  // do something…
    });
});
</script>
{% endblock %}
