{% extends "ABCAdmissionBundle::layout.html.twig" %}
{% block title %}Applicant List{% endblock %}
{% block js %}
<script src="{{ asset('Resources/js/jquery.ba-dotimeout.js') }}"></script>
{% endblock %}

{% block stylesheets %}
.dropdown-menu {z-index:1051 !important;}  
{% endblock %}

{% block contenido %}
<div class="row-fluid">
 <!-- block -->
  <div class="block">
    <div class="navbar navbar-inner block-header">
       <div class="muted pull-left">{{block('title')}}</div>
       <div class="pull-right"><span class="badge badge-warning">#</span></div>
    </div>
        <div class="block-content collapse in">
        <form class="navbar-form navbar-left" role="search">
       <div class="input-append">
       <input type="text" class="form-control" id="search" placeholder="Search" value="{{search}}">
       <span class="add-on"><i class="icon-search"></i></span>
       </div>     
    </form>     
            
        <div id="tablacontenido">
            {% include "ABCAdmissionBundle:ApplicantAdmin:applicantTable.html.twig" %}       
<br>
        
        </div>
        </div> {# end div block-content collapse in#}
   </div> {# end div block #}
</div>   
{% endblock %}
{% block javascripts %}
<script>
$(document).ready(function(){
    $('#search').keyup(function(){
        $(this).doTimeout( '#tablacontenido', 250, function(){
        //var order ='search='+$(this).val();
            $('#tablacontenido').html('<center><img src="{{ asset('Resources/img/loading.gif') }}"></center>');
            var url="{{path('admission_admin_applicant_search')}}";
            $.post(url, { search: $(this).val() }).done(function(data){
                $('#tablacontenido').html(data);
            });
        });
    });   

});
</script>
{% endblock %}