{% extends "ABCIsystemBundle::layoutAdmin.html.twig" %}
{% block title %} Bell Times {% endblock %}
{% block scripthead %}
 <script src="{{ asset('Resources/js/bootstrap-dropdown.js') }}"></script>
{% endblock %}


{% block bodycontenido %}
{#
<h3>{{block('title')}}</h3>
#}
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Time</th>
                <td>{{ entity.time|date('H:i:s')  }}</td>
            </tr>
            <tr>
                <th>Created Date</th>
                <td>{{ entity.createdDate|date('H:i:s d-m-Y' ) }}</td>
            </tr>
        </tbody>
    </table>

 {#
        <ul class="record_actions">
    <li>
        <a href="{{ path('isystem_admin_mtto_belltimes') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('isystem_admin_mtto_belltimes_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
    </li>
</ul>
#}
        <form action="{{ path('isystem_admin_mtto_belltimes_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="icon-list"></i> Back to the list</button>
            {#<button type="submit">Delete</button>#}
        </form>

{% endblock %}
