{% extends "ABCIsystemBundle::layoutAdmin.html.twig" %}
{% block title %} Photo {% endblock %}

{% block scripthead %}
 <script src="{{ asset('Resources/js/bootstrap-tooltip.js') }}"></script>
{% endblock %}
 
{% block sidebar %}{% endblock %} 

{% block contenido %}

    <h3>{{block('title')}}</h3>  

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td align="center" valign="top">
                    {#{% render (controller("ABCIsystemBundle:AbcPhoto:photoUsuario", { 'id': entity.id })) %}#}
                    
                    
               <img src="" alt="" height="525" width="666" />
                </td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ entity.weight }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>Size</th>
                <td>{{ entity.size }}</td>
            </tr>
            <tr>
                <th>Ip</th>
                <td>{{ entity.ip }}</td>
            </tr>
            <tr>
                <th>Photoname</th>
                <td>{{ entity.photoname }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('isystem_admin_photo') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('isystem_admin_photo_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('isystem_admin_photo_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
