<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
   {% block meta %}
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   {% endblock %}
   
   <title>{% block title %}:: Admission ::{% endblock %}</title>

   {% block cssDefault %}
   <link href="{{ asset('Resources/css/bootstrap.css') }}" rel="stylesheet" media="all">
   <link href="{{ asset('Resources/css/bootstrap-responsive.css') }}" rel="stylesheet" media="all">
   <link href="{{ asset('Resources/css/styles.css') }}" rel="stylesheet" media="all">   
   {% endblock %}
   {% block css %}{% endblock %}
   
   {% block jsDefault %}
   <script src="{{ asset('Resources/js/jquery.js') }}"></script>
   <script src="{{ asset('Resources/js/bootstrap.js') }}"></script>  
   <script src="{{ asset('Resources/js/bootstrap-alert.js') }}"></script>
   <script src="{{ asset('Resources/js/bootstrap-tooltip.js') }}"></script>
   <script src="{{ asset('Resources/js/bootstrap-popover.js') }}"></script>
   {% endblock %}
   {% block js %}{% endblock %}
   {#{% block scripthead %}{% endblock %}#}
   <style type="text/css">{% block stylesheets %}{% endblock %}</style>
{% endblock %}
</head>

<body>
{# ###### BLOCK CONTIENTE TODO EL BODY ##### #}
{% block body %}
<div class="row-fluid">
  <div class="span12">
     {# ###### BLOCK MUESTRA EL MENU ##### #}
     {% block menu %}
     {# {% include 'ABCadmissionBundle:Layout:menu.html.twig' %} #}
     {% endblock %}
     {# ###### BLOCK MUESTRA EL MENU ##### #}
  </div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
  {% block bodycontenido %}
  {# BLOCK BODY Contenido#}
     <div class="span3" id="sidebar">
     {# BLOCK MENU A LA IZQUIERDA #}
     {% block sidebar %}	 
     {% endblock %}
     {# BLOCK MENU A LA IZQUIERDA #}
     </div>
     {# BLOCK MUESTRA EL CONTENIDO A LA DERECHA #}
     <div class="span9" id="content">
     {% block box %}
        {# BLOCK DE MENSAJE #}
        <div class="row-fluid">
        {% block alert %}
        {% include "ABCAdmissionBundle:Layout:alert.html.twig" with {"header": "Success", "message":"The operation completed successfully" }  %}	      
        {% endblock %}
        </div>         
        {# BLOCK DE MENSAJE #}
        {% block contenido %}
        {% include "ABCAdmissionBundle:Layout:contenido.html.twig" %}
        {% endblock %}
        <footer><p>&copy; IT SUPPORT 2013</p></footer>
     </div>        
     {% endblock %} 
      
   {% endblock %}
   {# BLOCK BODY Contenido #}
</div>
{% endblock %}
{# BLOCK BODY #}
{# ###### BLOCK PARA JAVASCRIPTS ##### #}
{% block javascripts %}{% endblock %}          
{# ###### BLOCK PARA JAVASCRIPTS ##### #}   
</body>
</html>
