{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Applicant list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Surname</th>
                <th>Forename</th>
                <th>Middle</th>
                <th>Dob</th>
                <th>Pob</th>
                <th>Citizenship</th>
                <th>Gender</th>
                <th>Religion</th>
                <th>Firstlanguage</th>
                <th>Secondlanguage</th>
                <th>Createddate</th>
                <th>Ip</th>
                <th>Sessionid</th>
                <th>Entrygrade</th>
                <th>Entryyear</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('abcis_admission_applicant_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.surname }}</td>
                <td>{{ entity.forename }}</td>
                <td>{{ entity.middle }}</td>
                <td>{% if entity.dob %}{{ entity.dob|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.pob }}</td>
                <td>{{ entity.citizenship }}</td>
                <td>{{ entity.gender }}</td>
                <td>{{ entity.religion }}</td>
                <td>{{ entity.firstLanguage }}</td>
                <td>{{ entity.secondLanguage }}</td>
                <td>{% if entity.createdDate %}{{ entity.createdDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.ip }}</td>
                <td>{{ entity.sessionId }}</td>
                <td>{{ entity.entryGrade }}</td>
                <td>{{ entity.entryYear }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('abcis_admission_applicant_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('abcis_admission_applicant_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('abcis_admission_applicant_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
