{% block contenido %}
<div class="row-fluid">
    <div class="span15">
        <div class="row-fluid">
            <div class="span4">
            Surname(s)-Apellido(s)*
            {{form_widget(form.surname, {'attr': {'class': 'span12'}}) }}
            <br>
            <div class="row-fluid">  
            <div class="span8">   
            Forename-Primer nombre *
            {{form_widget(form.forename)}}
                
            Middle name-Segundo nombre<br>  
            {{form_widget(form.middle)}}
            <br>
            Entry grade-Grado solicitado:
            {{form_widget(form.entryGrade)}} 
            <br>
            Year of intry-Año de ingreso:
            {{form_widget(form.entryYear)}}
                 
            </div>
            </div>         
            </div>
            <div class="span4">
               
            Gender-Sexo*<br> 
            {{form_widget(form.gender)}}    
            <br>
            Religion-Religión*
            {{form_widget(form.religion)}}
            <br>
            First language-Primer idioma:
            {{form_widget(form.firstLanguage)}}
            <br>
            Second language-Segundo idioma:
            {{form_widget(form.secondLanguage)}}
            <br>
            Citizenship-Nacionalidad*<br>
            {{form_widget(form.citizenship)}}
            </div>    

            <div class="span4">
            Date of Birth-Fecha de nacimiento*<br>
            {{form_widget(form.dob.day , {'attr': {'class': 'span3'}})}}
            {{form_widget(form.dob.month, {'attr': {'class': 'span3'}})}}
            {{form_widget(form.dob.year, {'attr': {'class': 'span4'}})}}
            <br>
            Place of birth-lugar de nacimiento*
            {{form_widget(form.pob)}}
            <br>
            Who does the student live with?<br> 
            -¿Con quién vive el estudiante?
            {{form_widget(form.living)}}
            <br>
            Does the child have brothers or sisters in (or applying to) the school?
            - ¿Tiene hermanos o hermanas en el colegio (o aplicando)?
            <label class="radio">
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>Yes/Si
            </label>
            <label class="radio">
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">No
            </label>
                <!-- Button to trigger modal -->
                <a href="#ModalBrothers" role="button" class="btn" data-toggle="modal">Add brothers o sisters</a>
                <!-- Modal -->
                <div id="ModalBrothers" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="#ModalBrothers" aria-hidden="true">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 id="myModalLabel">Add brothers or sister-Agregar hermanos o hermanas</h4>
                  </div>
                  <div class="modal-body">
                    <p>One fine body…</p>
                  </div>
                  <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button class="btn btn-primary">Save</button>
                  </div>
                </div>
            <p><button class="btn btn-primary" type="button">Forward (Siguiente)</button></p>
                
            </div>
                
        </div>  {#fin row-fluid#}      
    </div> {#fin 12#}
</div> {#fin row#}
{% endblock %}

{% block javascripts %}
<script>

</script>
{%endblock%}
